@font-face {
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/643cfb2a6fb11ec2-s.woff2) format("woff2");
  unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff,
    u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020,
    u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-family: Luckiest Guy;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/844dc71011366724-s.p.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193,
    u+2212, u+2215, u+feff, u+fffd;
}
@font-face {
  font-family: Luckiest Guy Fallback;
  src: local("Arial");
  ascent-override: 61.73%;
  descent-override: 26.06%;
  line-gap-override: 0%;
  size-adjust: 113.91%;
}
.__className_e61f6e {
  font-family: Luckiest Guy, Luckiest Guy Fallback;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Blinker;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/32b50f0692c362e7-s.woff2) format("woff2");
  unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff,
    u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020,
    u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-family: Blinker;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/_next/static/media/889b60e75a2ad383-s.p.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193,
    u+2212, u+2215, u+feff, u+fffd;
}
@font-face {
  font-family: Blinker;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/8e68762fc300506b-s.woff2) format("woff2");
  unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff,
    u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020,
    u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-family: Blinker;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/_next/static/media/068fc0d4384f5acc-s.p.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193,
    u+2212, u+2215, u+feff, u+fffd;
}
@font-face {
  font-family: Blinker;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/dcfd2c883261b0fd-s.woff2) format("woff2");
  unicode-range: u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff,
    u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020,
    u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-family: Blinker;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/_next/static/media/14b709cf7b2f0835-s.p.woff2) format("woff2");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193,
    u+2212, u+2215, u+feff, u+fffd;
}
@font-face {
  font-family: Blinker Fallback;
  src: local("Arial");
  ascent-override: 103.88%;
  descent-override: 25.97%;
  line-gap-override: 0%;
  size-adjust: 92.42%;
}
.__className_e27d41 {
  font-family: Blinker, Blinker Fallback;
  font-style: normal;
}
